<ion-grid>
  
  <ion-card mycard>
    <ion-item>
      <ion-input pattern="" placeholder="Name" type="text" [(ngModel)]="entry">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input pattern="" placeholder="Description" type="text" [(ngModel)]="description">

      </ion-input>
    </ion-item>
    <ion-item>
      <strong>
        <ion-label style="margin-top: 15px;">Data Type</ion-label>
      </strong>
      <ion-select interface="popover" style="margin-top: 10px;" placeholder="All" [(ngModel)]="dataTypeIndex">
        <ion-select-option *ngFor="let type of allTypes; let i = index"  [value]="i">{{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Required
      </ion-label>
      <ion-checkbox (click)="requiredButton()"></ion-checkbox>

    </ion-item>
    <ion-row *ngIf="dataTypeIndex===6">
      <ion-item>
        <ion-input placeholder="number of fields" type="number" [(ngModel)]="numberOfCards">
        </ion-input>
        <ion-button (click)="createCards(numberOfCards)">
          OK
        </ion-button>
      </ion-item>
     
    </ion-row>
    <ion-row>
      <ion-button [disabled]="confirmButton" fill="clear" (click)="pushData(entry,description,dataTypeIndex)">
        <ion-icon name="checkmark-done-sharp"></ion-icon>
        Confirm Entry
      </ion-button>
    </ion-row>
  </ion-card>
</ion-grid>