<ion-grid>
  <ion-button  (click)="hiddenShowButton()" fill="clear">
    {{buttonToShow}}   {{header }}
  </ion-button>
  <ion-card [hidden]="hiddenButton" mycard>
    <ion-item>
      <ion-label id="mycard">
        <strong>
          Struct : {{header }}
        </strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input pattern="" placeholder="Name" type="text" [(ngModel)]="entry1" (ngModelChange)="enableConfirmButton()"
        [disabled]="disableCard">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input pattern="" placeholder="Description" type="text" [(ngModel)]="description1"
        (ngModelChange)="enableConfirmButton()" [disabled]="disableCard">
      </ion-input>
    </ion-item>
    <ion-item>
      <strong>
        <ion-label style="margin-top: 15px;">Data Type</ion-label>
      </strong>
      <ion-select [disabled]="disableCard" interface="popover" style="margin-top: 10px;" placeholder="All"
        [(ngModel)]="dataTypeIndex1" (ngModelChange)="enableConfirmButton()">
        <ion-select-option *ngFor="let type of allTypes; let i = index" [value]="i">{{type}}
        </ion-select-option>
      </ion-select>
      
    </ion-item>
    <ion-item>
      <ion-label>
        Required
      </ion-label>
      <ion-checkbox [disabled]="disableCard" (click)="requiredButton()"></ion-checkbox>
    </ion-item>
    <ion-row  size="1">
      <div>
        <ion-button [disabled]="enableStruct" (click)="addCol()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button [disabled]="enableStruct" (click)="removeCol()">
          <ion-icon name="remove-sharp"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
    
    <ion-row *ngIf="!enableStruct">
      <!-- <app-information-card  [step1]="header" [step]="1"></app-information-card> -->

      <div *ngFor="let item of addField;let i = index">

        <app-information-card  [step1]="header" [step]="i +1"></app-information-card>
      </div>
    </ion-row>
    <ion-row>
      
      <ion-button [disabled]="confirmButton" fill="clear" (click)="confirButton(step1)">
        <ion-icon name="checkmark-done-sharp"></ion-icon>
        Confirm
      </ion-button>
    </ion-row>
  </ion-card>
</ion-grid>