<ion-grid>
  <ion-title strong>
    LEVEL 2
  </ion-title>
  <ion-card mycard>
    <ion-item>
      <ion-input pattern="" placeholder="Name" type="text" [(ngModel)]="entry">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input pattern="" placeholder="Description" type="text" [(ngModel)]="description">

      </ion-input>
    </ion-item>
    <ion-item>
      <strong>
        <ion-label style="margin-top: 15px;">DATA TYPE</ion-label>
      </strong>
      <ion-select interface="popover" style="margin-top: 10px;" placeholder="All" [(ngModel)]="dataType">
        <ion-select-option *ngFor="let type of allTypes" [value]="type">{{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row *ngIf="dataType==='STRUCT'">
      <ion-item>
        <ion-input placeholder="number of fields" type="number" [(ngModel)]="numberOfCards">
        </ion-input>
        <ion-button (click)="createCards(numberOfCards)">
          OK
        </ion-button>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-button [disabled]="confirmButton" fill="clear" (click)="pushData(entry,description,dataType)">
        <ion-icon name="checkmark-done-sharp"></ion-icon>
        Confirm Entry
      </ion-button>
    </ion-row>
  </ion-card>
</ion-grid>