<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schema Creation Tool
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Enter the Schema Name" type="text" [(ngModel)]="schemaName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input pattern="" placeholder="Description" type="text" [(ngModel)]="description"></ion-input>
  </ion-item>
  <app-information-card [headerToPass]="1"></app-information-card>
</ion-content>