<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schema Creation Tool
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <!-- <a target="_blank" href="{{uri}}">pdf</a>  -->

    <ion-button (click)="createJSONButton()">
      <ion-label>Confirm when your DB schema is ready</ion-label>
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-item>
    <ion-input placeholder="Enter the Schema Name" type="text" [(ngModel)]="schemaName"
      (ngModelChange)="enableButton()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input pattern="" placeholder="Description" type="text" [(ngModel)]="description"
      (ngModelChange)="enableButton()"></ion-input>
  </ion-item>
  <ion-row size="1">
    <div>
      <ion-button [disabled]="!enableStruct" (click)="addCol()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button [disabled]="!enableStruct" (click)="removeCol()">
        <ion-icon name="remove-sharp"></ion-icon>
      </ion-button>
    </div>
  </ion-row>
  <ion-row *ngIf="enableStruct">
    <!-- <app-information-card  [step1]="header" [step]="1"></app-information-card> -->

    <div *ngFor="let item of addField;let i = index">

      <app-information-card [headerToPass]="i +1" [step]="i +1"></app-information-card>
    </div>
  </ion-row>
  <!-- <app-information-card [headerToPass]="1"></app-information-card> -->

</ion-content>